
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-$

## User settings
xcuserdata/

*.xcscmblueprint
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3



